apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  name: github-app-build
spec:
  output:
    pushSecret:
      name: devenablement-workshop-pull-secret
    to:
      kind: DockerImage
      name: 'registry.ford.com/devenablement/workshop:<CDSID>'
  resources:
    requests:
      cpu: 250m
      memory: 250Mi
    limits:
      cpu: 500m
      memory: 500Mi
  source:
    # contextDir: /image
    git:
      uri: 'https://github.ford.com/MALYASS/samples.git'
    sourceSecret:
      #NOTE - CREATE SECRET USING COMMAND LINE
      # oc create secret generic <SECRET-NAME> --from-file=ssh-privatekey=<PATH-TO-PRIVATE-KEY> --type=kubernetes.io/ssh-auth
      name: cicd-repo
    type: Git
  strategy:
    dockerStrategy:
      pullSecret:
        name: redhat-registry-pull-secret
    type: Docker

# oc start-build example-dvncaas-2 --from-dir=./build/libs