apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  name: app-build-<CDSID>
spec:
  output:
    pushSecret:
      name: devenablement-workshop-pull-secret
    to:
      kind: DockerImage
      name: 'registry.ford.com/devenablement/workshop:<CDSID>'
  resources:
    requests:
      cpu: 250m
      memory: 250Mi
    limits:
      cpu: 500m
      memory: 500Mi
  source:
    dockerfile: |-
      FROM registry.redhat.io/rhscl/python-36-rhel7
      ARG LD_LIBRARY_PATH=/opt/rh/python36/root/usr/lib64
      ENV \
        HOME=/app \
        USER_UID=1001 \
        SUMMARY="A simple python web app"	\
        DESCRIPTION="This is a python web app to demonstrate basic continer and kubernetes concepts." \
        NAME=World
      WORKDIR $HOME
      COPY ./src $HOME
      RUN pip install --trusted-host pypi.python.org -r requirements.txt
      EXPOSE 8080
      USER $USER_UID
      CMD ["python", "app.py"]
    type: Dockerfile
  strategy:
    dockerStrategy:
      pullSecret:
        name: redhat-registry-pull-secret
    type: Docker